<div class="about-me">
  <section>
    <article>
      <header>
        <h1>ABOUT CHENYANG GAO</h1>
      </header>
      <p>
        Hi, my name is GAO Chenyang. "Chenyang" is my Chinese given name, which means "the sunrise in the morning". Like my name,
        I am an optimist and easy-going person, I love meet and work with different people in different places in the world.
      </p>
      <p>
        I am presently an experienced engineer student from Polytech' Montpellier, France, where I studied Master Degree of Engineering
        (Diplome d'ingenieur) in computer science and management. Plus my engineering diploma, I am double master in Big
        Data. Through my professional working experience and a number of academic projects, I've built solid background and
        specialties in Web and Mobile Application Development, System Modeling, Database management and UX Design.
      </p>
      <p>
        Keen loving the idea of "simple and elegant", I want to make every of my product be visually user friendly, functionally
        easy to use and systematically intelligent and stable. My personal character and creative thinking always lead me
        to critique and optimize the works I conduct but never be blind or stubborn.
      </p>
      <p>
        Enthusiastic, creative, multi-culture and easy-going IT engineer, with a comprehensive knowledge of information technologies
        Full stack development, plus my academic background and related projects.
      </p>
    </article>

    <article>
      <header>
        <h1>CURRENT SITUATION</h1>
      </header>
      <p>
        <!--I am currently searching a Software Service or Mobile development internship, aiming at gaining professional project experience in development, architecture design and business analysis.-->
        I am currently working in airline industry in Europe in Nice area, France, providing Research & Development plus project
        management and technical support works.
      </p>
      <p>
        Please feel free to contact me if you have anything cool to share. View my portfolio or see my resume to better know me.
      </p>
    </article>

    <article>
      <header>
        <h1>CONTACT INFORMATION</h1>
      </header>
      <p>Email: chenyanggao123@gmail.com</p>
      <p>MobilePhone: (+33)(0)698665190</p>
      <p>Skype:dellgcy1988</p>
      <p>
        <a href="http://www.linkedin.com/profile/view?id=177820160&trk=tab_pro">
          <img id="linkedIn_icon" src="assets/images/linkedIn_1.png" width="35" />
        </a>
        <a href="http://www.viadeo.com/profile/0022dylo74cjjkwe/fr/?readOnly=true&ga_from=Fu:/profilv2/;Fb%3AN-topmenu%3BFe%3AL2%2Bdrop_see%3B">
          <img id="viadeo_icon" src="assets/images/viadeo_01.png" width="35" />
        </a>
        <a href="https://github.com/chenyang">
          <img id="linkedIn_icon" src="assets/images/github_icon.png" width="35" />
        </a>
      </p>
    </article>
  </section>

</div>
<aside>
  <img src="assets/images/my_profile.png" class="profile-picture">
</aside>
