<div id="projects_detail">
  <section>
    <article class="article_left">
      <div class="project_description">
        <h2>
          MusicEvent: Big Data & Semantic Web application for music
        </h2>
        <img src="assets/images/details_images/FindEvent_01.png" width="160" align="right" style="margin-top:10px" />
        <p>
          During my master's learning in Big Data and Knowledge management, our team realized a small web application for music fans
          to help them find coming music festivals near their city. Inspired by big data technologies and powerful AngularJS,
          we have chosen SOA architecture and integrated varies web resources.
        </p>
      </div>



      <div class="project_precision">
        <header>Overview</header>
        <p>
          Inspired by big data trends and meets the needs of project, our team realized this small application to help people find
          music events that will be held near the city where they live. To achieve a good coverage of necessary information,
          we have integrated with many famous semantic web resources like DBPedia, jamendo and musicbrainz
          <p>
            <p>
              Our project contains mainly 3 parts: Web design and front-end realization, web resources integration and SOA web service
              development. During the project, I realized front-end technologies under AngularJS framework and provided RESTFul
              web services using Jax-rs.
            </p>
            <br/>


            <header>Semantic web and related technologies</header>
            <p>
              What is semantic web? Semantic web is considered as a standard which promote common data across the world wide web. With
              semantic web, which is also a component of Web 3.0, we share and connect separated resources together to meet
              our needs and reuse them.
            </p>
            <p>
              Among related technologies of semantic web, we chose Jena framework(Apache) to realize semantic web architecture, SPARQL
              and resource integration. Highly motivated by AngularJS, we pursued the idea of SOA and finally came out our
              system structure: AngualrJS+JAX-RS+Jena+EclipseLink+Mysql. To store semantic web data locally, we used TDB
              (Triple Store) provided by Jena framework.
            </p>
            <div class="image" style="clear:both">
              <div class="project_show_image" style="float:left">
                <a href="assets/images/details_images/FindEvent_02.png" class="highslide" onclick="return hs.expand(this)">
                  <img src="assets/images/details_images/FindEvent_02.png" alt="Highslide JS" title="Click to enlarge" width="190"
                    height="140" />
                </a>
                <div>Music Events Location</div>
              </div>

              <div class="project_show_image" style="float:left">
                <a href="assets/images/details_images/FindEvent_03.png" class="highslide" onclick="return hs.expand(this)">
                  <img src="assets/images/details_images/FindEvent_03.png" alt="Highslide JS" title="Click to enlarge" width="190"
                    height="140" />
                </a>
                <div>Filter Music Events Result</div>
              </div>

            </div>

            <header>SHOCASE</header>
            <p>
              Below shows the sample video of this small application. Users can filter music events according to their preferences and
              explore realted artists information or download sample album.
            </p>

            <div class="video">
              <iframe width="100%" height="250" src="//www.youtube.com/embed/locNAYjCx_w" frameborder="0" allowfullscreen></iframe>
            </div>


            <header>Result</header>
            <div>
              <p>
                With the intense work during this project, I gained valuable experiences in AngularJS and Java Programming skills, as well
                as constructing big data and semantic web application methods. Here is the
                <a href="https://github.com/chenyang/FindEvent">source code</a> of this project.
              </p>
            </div>

      </div>
    </article>

    <article class="article_right">
      <header>Type</header>
      <p>School project</p>
      <header>Time</header>
      <p>Winter 2013</p>
      <header>Methods & Skills</header>
      <p>
        AngularJS, AngularUI
        <br/> HTML5/CSS3/Bootstrap
        <br/> JPA/Eclipse Link
        <br/> JEE Web Services(JAX-RS)
        <br/> SPARQL
        <br/> Jena Framework
        <br/>
      </p>
      <header>Tools & Environment</header>
      <p>
        Eclipse
        <br/> MySQL
        <br/> Linux
        <br/>
      </p>
      <header>Source & Archivements</header>
      <p>
        Project Source
        <br/> Showcase Video
        <br/>
      </p>
    </article>
  </section>
</div>
