<link rel="stylesheet" href="css/about_me.css">
<div class="about-me">
        <section>
            <article>
                <header>
                    <h1>ABOUT CHENYANG GAO</h1>
                </header>
                <p>
               		Hi, my name is GAO Chenyang. "Chenyang" is my Chinese given name, which means "the sunrise in the morning". Like my name, I am an optimist and easy-going person, I love meet and work with different people in different places in the world.
				</p>
                <p>
					I am presently a fresh graduated engineer student from Polytech' Montpellier, University of Montpellier2, France, where I study Master Degree of Engineering (Diplome d'ingenieur) in computer science and management. Through my professional working experience and a number of academic projects, I've built solid background and specialties in Web and Mobile Application Development, System Modeling, Database management and UX Design.
				</p>
				<p>
					Keen loving the idea of "simple and elegant", I want to make every of my product be visually user friendly, functionally easy to use and systematically intelligent and stable. My personal character and creative thinking always lead me to critique and optimize the works I conduct but never be blind or stubborn.
				</p>
                <p>
					I have obtained my Bachelor's Degree in Capital University of Economics and Business, Beijing, China. I experienced different types of jobs and volunteer works during my undergraduate years.
                </p>
            </article>
            
            <article>
                <header>
                    <h1>CURRENT SITUATION</h1>
                </header>
                <p>
                <!--I am currently searching a Software Service or Mobile development internship, aiming at gaining professional project experience in development, architecture design and business analysis.-->
				I am currently working in an IT company located in Montpellier, France, providing Research & Development works in Js Frameworks and SOA development.
				</p>
                <p>
                Please feel free to contact me if you have anything cool to share. View my portfolio or see my resume to better know me.
				</p>
            </article>
            
 			<article>
                <header>
                    <h1>CONTACT INFORMATION</h1>
                </header>
                <p>Email: chenyanggao123@gmail.com</p>
                <p>MobilePhone: (+33)(0)698665190</p>
                <p>Skype:dellgcy1988</p>
                <p>
           		
                     <a href="http://www.linkedin.com/profile/view?id=177820160&trk=tab_pro">
                       <img id="linkedIn_icon" src="images/linkedIn_1.png" width="35" height="35"/>
                     </a>
                    
                     <a href="http://www.viadeo.com/profile/0022dylo74cjjkwe/fr/?readOnly=true&ga_from=Fu:/profilv2/;Fb%3AN-topmenu%3BFe%3AL2%2Bdrop_see%3B">
                	<img id="viadeo_icon" src="images/viadeo_01.png" width="35" height="35"/>
                     </a>
            	</p>
          </article>
      </section>  
      
  </div>        
		<aside>
            <img src="images/my_profile.png" class="profile-picture">
		</aside>     
     
              