<link rel="stylesheet" href="css/projects_detail.css">
<!---div projects_left, show of projects--->
<div id="projects_detail">
     <section>
           	<article class="article_left">
            <div class="project_description">
            <h2>
            	Allons-y Francais: French Teaching Videos
            </h2>
            <img src="images/details_images/allons-y_01.jpg" width="200" height="120" align="right" style="margin-top:10px;"/>
            <p>
           During my internship in Allons-y Francais, besides the work done on CSS and Javascript, with the assistance of my instructor, I recorded and fixed French teaching videos of the school using Adobe Premiere combined with ppt files.
            </p>
            </div>
            
            
            
            <div class="project_precision">
            	<header>Overview</header>
              <p>
              	During summber 2010, I worked as an IT assistance intern in the department of "Formation a distance" in <a href="http://www.qjfy.com">Allons-y Centre de Formation Francais</a>, a leading french teaching school in Beijing. I helped my supervisor, Mr CUI managed and fixed hundreds of teaching materials, worked on website HTML and Javascript programming works, fixed images taken in class and meetings and also I participated in many company public affairs such as "CAFA-Conference Vin du Medoc Bordeaux" and "Beijing international education exhibition".
              </p>
              <p>
 				Besides my small works conducted, I worked mainly on the project "French Teaching Viedo Allons-y Francais".This was a commercial project which was initiated by the president of the School Mr LI. Under my supervisor's instruction, I learned how to manipulate the video projector and I learned basically the usage of Adobe Premiere.
              </p>
              
               <header>Realiztion & related works</header>
              	
                <p>
               	
                <p>
             	For the video recording and fixing, I have recorded and fixed<br/>
                -"Reflet" from Lession 1 to Lession 15 <br/>
                -"Cours de francais accelerer" from Lession 13 to Lesson 30<br/>
                -"Francais pour les enfants" from Lession 1 to Lesson 9<br/>
                
                - Besides, I fixed and conducted all ppt files for Lessions. 
                
				</p>
				
				<h3>Sample Video</h3>
                <p>
                	Below shows the sample video of "Reflet 1" I recorded during my internship.
                </p>
				
                <div class="video">
				<embed src="http://player.youku.com/player.php/sid/XMTY4ODYxNTMy/v.swf" allowFullScreen="true" quality="high" width="360" height="250" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
				</div>
                
                <p>
                	To see some other sample videos that I recorded, please visit<a href="http://i.youku.com/u/UMjgwNTY1NDc2"> Allons-y's blog on Youku.com</a>. Those are sample videos and they are free.
                </p> 

                      <div class="image" style="clear:both">
                      
                          <div class="project_show_image" style="float:left">
                                <img src="images/details_images/allons-y_02.jpg" width="190" height="130"/>
                              <div>Chirstophe, former french teacher recording "Reflet"</div>
                          </div>
                          
                          <div class="project_show_image" style="float:left">
                                <img src="images/details_images/allons-y_03.jpg" width="190" height="130"/>
                              <div>One ppt background for "Reflet 1"</div>
                          </div>
               		</div>      
             
               
    		</div><!--End of div project_precision--->    
            </article>
 
            <article class="article_right">
            	<header>Type</header>
                <p>internship project</p>
                <header>Time</header>
                <p>Summber 2010</p>
                <header>Methods & Skills</header> 
                <p>
                Video Fixing and Recording<br/>
                Image fixing<br/>
                French communication<br/>
                </p>
                <header>Tools & Environment</header>
                <p>
                	Photoshop<br/>
               		Adobe Premiere<br/>
                </p>
                <header>Source & Archivements</header> 
                <p>
                Sample Video<br/>
                </p>         
            </article>  

 	</section>  

</div> 
          
    <!---aside, index for projects--->      
		 <!---aside, index for projects--->      
		<div ng-include="'views/sidebar.html'" class="sidebar"></div>
	<!---End of div container -->