<link rel="stylesheet" href="css/home.css">  
<script type="text/javascript" src="scripts/tools/js_home.js"></script>
<div id="home">
        <section>
        	
        	<article  class="home_project">
                <header>
                	<div align="left" style="font-size:10px">school project | winter 2013 | French<a href="#/findevent"> Details</a></div>
                    <br/>
                    <h1>@{MusicEvent}<br>Big Data & semantic web application</h1>
                </header>
                <div id="home_project_1" class="description_block">
                <br>
                <a href="#/findevent" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Findevent.png" class="project_image">
                </a>
                
				 <p>
					Inspired by big data technologies and AngularJS Framework, our team has realized a semantic web 
					application that helps users to find and retrieve information about music events that will be held in the city. 
					I was responsible for architecture design, AngularJS framework and JAX-RS implementation
				</p> 
				
                </div>
                
                <div class="keywords_block">
                <span class="keyword">AngularJS</span>
				<span class="keyword">HTML/CSS/Bootstrap</span>
				<span class="keyword">Web semantic</span>
				<span class="keyword">Big data</span>
                <span class="keyword">SPARQL</span>
                <span class="keyword">JEE Web Service (JAX-RS)</span>
                </div>
            </article>
        
        
        
			 <article  class="home_project">
                <header>
                	<div align="left" style="font-size:10px">internship&job project | summer 2013 | French<a href="#/iovision"> Details</a></div>
                    <br/>
                    <h1>@{RIA IOvision}<br>Business ERP Prototype & System integration</h1>
                </header>
                <div id="home_project_1" class="description_block">
                <br>
                <a href="#/iovision" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/IOvision.jpg" class="project_image">
                </a>
                
				 <p>
					My Final year internship's mission was to research, 
					modelize and develop a Rich Client prototype for company's current ERP "IOvision". 
					Instructed by lead system engineer, 
					I successfully integrated the prototpe by using AngularJS Framework with a new layer of JEE Web Services.
				</p> 
				
                </div>
                
                <div class="keywords_block">
                <span class="keyword">AngularJS</span>
				<span class="keyword">HTML5/CSS3/Twitter Bootstrap</span>
                <span class="keyword">Responsive design</span>
				<span class="keyword">Unit test</span>
				<span class="keyword">JEE Web Service technologies</span>

				<span class="keyword">System Integration</span>

                </div>
            </article>

			
        	 <article  class="home_project">
                <header>
                	<div align="left" style="font-size:10px">enterprise project | spring 2013 | French<a href="#/asa"> Details</a></div>
                    <br/>
                    <h1>@{ASA QLims}<br>Tablet Prototype for Laboratory System</h1>
                </header>
                <div id="home_project_1" class="description_block">
                <br>
                <a href="#/asa" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/ASA-2.png" class="project_image">
                </a>
                <p>
                Our team constructed a prospective prototype including multi-platform supports, QR codes, email and web services for ASA, a Montpellier-based laboratory system provider. I established the system architecture and implemented core javascript part that associate RESTFul web service and UI.
                
				</p> 
                </div>
                
                <div class="keywords_block">
                <span class="keyword">Javascript</span>
                <span class="keyword">PhoneGap</span>
                <span class="keyword">JQueryMobile</span>
                <span class="keyword">XDK</span>
                <span class="keyword">Restful API</span>
                </div>
            </article>
        
        
            <article  class="home_project">
                <header>
                	<div align="left" style="font-size:10px">course project | winter 2012 | French<a href="#/uvsp"> Details</a></div>
                    <br/>
                    <h1>@{UVSP}<br>.NET MVC based course management system</h1>
                </header>
                <div id="home_project_1" class="description_block">
                <br>
                <a href="#/uvsp" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/UVSP.png" class="project_image">
                </a>
                <p>
                Based on the previous project result, during this short-time project our group realised a functional university source planning system based on .NET MVC4 technology. I provided all web api programming and testing works and 2 parts of CMS. (reservation and courses management).
				</p> 
                </div>
                
                <div class="keywords_block">
                <span class="keyword">Web API</span>
                <span class="keyword">.NET MVC4  C#</span>
                <span class="keyword">Visual Studio 2012 Express</span>
                <span class="keyword">Entity Framework</span>
                <span class="keyword">jQuery, CSS3, HTML5, Bootstrap</span>
                </div>
            </article>
			
			
			<article class="home_project">
                <header>
                	<div align="left" style="font-size:10px">intern project | summer 2012 | English<a href="#/pollaroid"> Details</a></div>
                    <br/>
                    <h1>@{POLLAROID}<br>Social Network iOS Development</h1>
                </header>
                <div id="home_project_1" class="description_block">
                <br>
                <a href="#/pollaroid" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Pollaroid.png" class="project_image">
                </a>
                <p>
                My internship in Singapore worked with designer and Database developer, we built a working prototype for alpha testing of iOS application "Pollaroid". During my internship, I held full responsibility for app Object-C (Cocoa Touch) development. </p> 
                </div>
                
                <div class="keywords_block">
                <span class="keyword">iOS Development</span>
                <span class="keyword">Cocoa Touch Framework</span>
                <span class="keyword">Storyboard</span>
                <span class="keyword">Social Network Integration</span>
                <span class="keyword">Requirements Analysis</span>
                <span class="keyword">XCode</span>
                </div>
                
            </article>
			
			
            
            
            <article onClick="hide_or_show_project_2()" class="home_project">
                <header>
                	<div align="left" style="font-size:10px">course project | spring 2011 | French<a href="#/french_airline"> Details</a></div>
                    <br/>
                    <h1>@{French Airline}<br>GPS Data Analyser on Google Map</h1>
                </header>
                <div id="home_project_2" class="description_block">
                <br>
                <a href="#/french_airline" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/French_airline.png" class="project_image">
                </a>
                <p>
                Given reality data of GPS position and population information in France(.cvs), our team revealed shortest path and minimum flight cover between cities in France by offering the optimized solutions on Google Map. I led the algorithm analyse and provided core C programming works.</p>
                </div>
                
                <div class="keywords_block">
                <span class="keyword">C programming</span>
                <span class="keyword">Algorithm Analysis & Optimization</span>
                <span class="keyword">HTML programming</span>
                <span class="keyword">GoogleMap API Integration</span>
                </div>
                
            </article>
            
            
            
            <article  onClick="hide_or_show_project_3()" class="home_project">
                <header>
                	<div align="left">academic project | winter 2008 - spring 2009 | Chinese<a href="#/stadium"> Details</a></div>
                    <br/>
                    <h1>@{Service Management System}<br>Web Based CMS For FengTai Stadium</h1>
                </header>
                <div  id="home_project_3" class="description_block">
                <br>
                <a href="#/stadium" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/STADIUM.png" class="project_image">
                </a>
                <p>
                Our team of four applied the academic project organized by CUEB, during my undergraduate years. The project was a web based CMS realized by using technology JSP MVC Model2 with Tomcat as Application Server. I was responsible for core JSP and Servlet programing and Database modeling. </p>
                </div>
                
                <div class="keywords_block">
                
                <span class="keyword">JSP Development</span>
                <span class="keyword">JDBC</span>
                <span class="keyword">UI Design & Requirements Analysis</span>
                <span class="keyword">SQL Server 2005</span>
                <span class="keyword">System Design & Modeling</span>
                <span class="keyword">J2EE Development</span>
                </div>
            </article>
            
            
            <article onClick="hide_or_show_project_6()" class="home_project">
                <header>
                	<div align="left">entreprise project | spring 2012 | French<a href="#/expernova"> Details</a></div>
                    <br/>
                    <h1>@{Expernova}<br>Development of "viralite Web"</h1>
                </header>
                <div  id="home_project_6" class="description_block">
                <br>
                <a href="#/expernova" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Expernova.png" class="project_image">
                </a>
                <p>
               In respond to our client Expernova, a local business during our industrial project period, our team created social tools for Expernova's secondary website: "www.scientificprofile.com" to expand its popularity. I was responsible for linkedIn and Mandeley integration.</p>
               </div>
               
               <div class="keywords_block">
                <span class="keyword">Social Network Integration & Development</span>
                <span class="keyword">Web Development</span>
                </div>
            </article>
            
            
            
            <article onClick="hide_or_show_project_4()" class="home_project">
                <header>
                	<div align="left">intern project | spring 2010 | Chinese + French<a href="#/allons_y"> Details</a></div>
                    <br/>
                    <h1>@{Allons-y Francais}<br>French Teaching Videos For Allons-y</h1>
                </header>
                <div  id="home_project_4"  class="description_block">
                <br>
                <a href="#/allons_y" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Allons-y.png" class="project_image">
                </a>
                <p>
                During my internship in Allons-y Francais, besides the work done on CSS and Javascript, with the assistance of my instructor, I recorded and fixed French teaching videos of the school using Adobe Premiere combined with ppt files.
                </p>
                </div>
                
                <div class="keywords_block">
                <span class="keyword">Video Fixing and Recording</span>
                <span class="keyword">Web Development</span>
                <span class="keyword">French communication</span>
                <span class="keyword">Image fixing</span>
                </div>
                
            </article>
            
            
            
            <article onClick="hide_or_show_project_5()" class="home_project">
                <header>
                	<div align="left">job project | winter 2011 | English<a href="#/good_deed_movement"> Details</a></div>
                    <br/>
                    <h1>@{Good Tracking Service}<br>Forum Construction for NPO in Chicago</h1>
                </header>
                <div  id="home_project_5"  class="description_block">
                <br>
                <a href="#/good_deed_movement" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Good_Deed_Movement.png" class="project_image">
                </a>
                <p>
                Worked as a part time web Developer, I reconstructed 3 portions of the website for NPO in Chicago "Good Deed Movement": Good Tracking service (Forum with Google Position API embedded), Suggestion portion and Printable Material (Automatic ticks generation)page. 
                </p>
                </div>
                
                <div class="keywords_block">
                <span class="keyword">PHP development</span>
                <span class="keyword">Database Design</span>
                <span class="keyword">Server Configuration</span>
                <span class="keyword">GoogleMap API Integration</span>
                <span class="keyword">UI Design</span>
                </div>
                
            </article>
            

            <article onClick="hide_or_show_project_7()" class="home_project">
                <header>
                	<div align="left">course project | spring 2012 | French<a href="#/slab"> Details</a></div>
                    <br/>
                    <h1>@{'SLAB'}<br>Java based UM2 Time Scheduling System</h1>
                </header>
              <div  id="home_project_7"  class="description_block">
                <br>
                <a href="#/slab" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/SLAB.png" class="project_image">
                </a>
                <p>
                Our team of 4 worked out a Java Swing based application for UM2 (University of Montpelier 2) time scheduling system. Worked with our client, we started from requirement analysis, UML design, PL/SQL implementation of Oracle and Java Swing programming works and finally with JUnit test. I was totally responsible for Java Swing and DAO Programming.
                </p>
                </div>
                
                <div class="keywords_block">
                <span class="keyword">Requirements Analysis</span>
                <span class="keyword">UML design</span>
                <span class="keyword">Java development</span>
                <span class="keyword">Project Management</span>
                <span class="keyword">Design Pattern</span>
                <span class="keyword">Database Development</span>
                </div>

            </article>
            
            
            <article onClick="hide_or_show_project_8()" class="home_project">
                <header>
                	<div align="left">course project | winter 2011 | French<a href="#/euronext"> Details</a></div>
                    <br/> 
                    <h1>@{Euronext}<br>European Entreprise Analyse</h1>
                </header>
                <div  id="home_project_8"  class="description_block">
                <br>
                <a href="#/euronext" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Euronext.png" class="project_image">
                </a>
                <p>
               The project aims at researching and discovering the relationship between  enterprise category and their social responsibility both in Paris and in Brussels. During the project, I adpated web spider program from Java to PHP and created database model.</p>
               </div>
               
               
               <div class="keywords_block">
                <span class="keyword">PL/SQL Development</span>
                <span class="keyword">Web Development</span>
                <span class="keyword">Database modeling</span>
                <span class="keyword">Requirement & Solution analysis</span>
                <span class="keyword">Statistic Analysis</span>
                </div>
                
            </article>
            
            
            <article onClick="hide_or_show_project_9()" class="home_project">
                <header>
                	<div align="left">course project | spring 2012 | French<a href="#/mail_system"> Details</a></div>
                    <br/>
                    <h1>@{Simple Chat}<br>C Based Mail Sending System</h1>
                </header>
                <div  id="home_project_9" class="description_block">
                <br>
                <a href="#/mail_system" class="project_show_image_off" onMouseOver="this.className='project_show_image_on'" onMouseOut="this.className='project_show_image_off'">
                <img src="images/projects_images/Mail_System.png" class="project_image"/>
                </a>
                <p>
               Worked in pairs, we implemented a small system written in C for sending, responding and managing mails with C/S model. I was mainly responsible for local and client side programming in C.</p>
             	</div>
             
              <div class="keywords_block">
                <span class="keyword">C programming</span>
                <span class="keyword">TCP/IP</span>
                <span class="keyword">Socket Programming </span>
              </div>
            </article>
            
            
      </section>  
  </div>
