<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/projects_detail.css">
	

        
<!---div projects_left, show of projects--->
<div id="projects_detail">
     <section>
           	<article class="article_left">
            <div class="project_description">
            <h2>
            	Pollaroid: iOS Social Network development
            </h2>
            <img src="images/projects_images/Pollaroid.png" width="200" height="120" align="right" style="margin-top:10px"/>
            <p>
            During my internship in Singapore summer 2012, I worked as an iOS developer for a strategic applicaiton development. Since the applicaiton is now under development (company is still working on this) and not yet published to Apple Store, I am not in a position to present any detailed information, including but not limiting to application core features, business strategic plans and product details.
            </p>
            </div>
            
            
            
            <div class="project_precision">
            	<header>Overview</header>
              <p>
              <a href="http://www.sageby.com">Sageby Pte Ltd</a> is a technology start-up funded by SPRING Singapore which provides the platform to reach people over the physical and social space almost anywhere and anytime, in the form of data collection. Sageby provide the linkage to make cab rides, shopping, and dining free for our users by helping them monetize idle time. Company project extends to Business Intelligence, Survey engine and Mobile platform.
              </p>
              <p>
              Worked with designer and Database developer, we built a working prototype for alpha testing of iOS application "Pollaroid" before my leaving of the company. During my internship, I held full responsibility for app Object-C (Cocoa Touch) development. My works involved deeply in brain storming, story board and implementation phases. Also I designed application architecture and Database Model. 
              </p>
              <br/>
              
                
              </p>
                <header>Strategic Plan</header>
                <div class="image" style="clear:both">
                      <div class="project_show_image" style="float:left">
                <a href="images/details_images/pollaroid_02.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                          <div>"Time-line" Feature</div>
                      </div>
                      
                      <div class="project_show_image" style="float:left">
               <a href="images/details_images/pollaroid_06.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_06.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                          <div>one piece of Story Board</div>
                      </div>
               </div>          
               
               		<h3>BrainStorming</h3>
                      <p>
                      	During brainstorming, we discuessed through "What is application's mission and Its main task", "How to attract user and get users", "How to make user like using it with enriched features? What are the main functionalities" and "How to design the UI and separate the tab" and so on. For details of the result, I will keep it reserved because of the rule of strategic plan.
                      </p>
                      
                      <h3>Use case</h3>
                      <p>
                      	With my supervisor, we developed and compiled Use Cases to identify and detail the interactions.
                      </p>
                      
                      <h3>Story Board</h3>
                      <p>
                      	At this phase, worked and discussed with the Designer in the company, we drew and designed each step and each portion of the application: how do they interact with user, how do they look like and the business logic behind them. As shown above, that is a draft scratch taken from the very beginning of stroy borad design.
                      </p>
                      
      			<header>System Modeling</header> 
                    <p>
                    During this phase, worked with lead developer in the company, I designed the business logic and database model according to the specification. The system was not so complicated and we used UML knowledge to get it done. We used phpMyadmin configured and deployed our database on the server dev hosted in UK. For web communication we used JSON as communication format.
                    </p>
                    
                    <p>
                    
                    </p>
                    
                    
               <header>Development</header>
                
                      <div class="image" style="clear:both">
                      
                          <div class="project_show_image" style="float:left">
                     <a href="images/details_images/pollaroid_03.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_03.jpg" alt="Highslide JS" title="Click to enlarge" width="80" height="140"/></a>
                              <div>"Search" feature sample</div>
                          </div>
                          
                          <div class="project_show_image" style="float:left">
                    <a href="images/details_images/pollaroid_07.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_07.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                              <div>Draft design for "Login"</div>
                          </div>
               		</div>   
                    
                    
                    <h3>System Architecture</h3>
                    <p>
                    In general, the application is "module oriented", which means we divided the system by its funciton modules. In the eye of UI, we seperate the application by tabs with navigation embedded. System architecture is simple, we used JSON as common data format to communicate with remote php files who are responsible for stored procedures and interaction with database on the server. 
                    </p>
                    
                    <h3>Cocoa Touch Development</h3>
                    <p>During this phase about 2 month, mainly I worked with database developer and designer (Everyone were so busy), at the end of this phase we worked out a prototype for alpha testing. During this phase, I held the whole responsibility for Cocoa Touch Framework development, included but not limited to system architecture modeling, web support of API, Cocoa Touch UI, Navigation and Tab, Core Location, Camera API and Social Network integration with Facebook and Foursquare.
               		</p>  
                    
                    <h3>Product Launching</h3>
                    <p>
                    For product launching, we tested on iPhone 4s and received many user feedback. Some were supportive and some were negative. During the development phase, we changed the design and the front-end from time to time.
                    </p>
                    
               
                <header>Usibility testing and user feedback</header>
                 <p>
                   Since the applicaiton was not totally launched and developped, we just made a alpha Beta testing for application. We invited 3 people to test our application and they gave us feedbacks. We tested over 1. whether application met the requirements that guided design and development;2. wether application worked as expected;3. wether application can be implemented with the same characteristics. The result turned that we had many bugs and we changed design also.
                  </p>
                  <div class="image" style="clear:both">
                      
                          <div class="project_show_image">
                 <a href="images/details_images/pollaroid_08.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_08.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                              <div>"Check list" for bugs</div>
                          </div>
               		</div> 
                          
               <header>Final Documentation</header>
                    <p>
                    For the moment, I am still working on this project part time. During my internship I gained quite a lot valuable experinece and tricky skills both in iphone and web development. My performance was not bad and I earned "Best intern summer Sageby" in the company. For my work performance, here is a <a href="images/downloads/SAGEBY.pdf">work reference</a> from sageby company.
                   </p>
                    <div class="image" style="clear:both">
                          <div class="project_show_image" style="float:left">
               <a href="images/details_images/pollaroid_11.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_11.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                              <div>Sageby colleagues</div>
                          </div>
                          
                           <div class="project_show_image" style="float:left">
              <a href="images/details_images/pollaroid_09.jpg" class="highslide" onclick="return hs.expand(this)"><img src="images/details_images/pollaroid_09.jpg" alt="Highslide JS" title="Click to enlarge" width="190" height="140"/></a>
                              <div>With Bryan my supervisor</div>
                          </div>
                          
               		</div>
            </div>    
                
             </article>
 
            <article class="article_right">
            	<header>Type</header>
                <p>Internship project</p>
                <header>Time</header>
                <p>summber 2012</p>
                <header>Methods & Skills</header> 
                <p>
                iPhone Development<br/>
                Cocoa Touch Framework<br/>
                Social Network Integration<br/>
                Database Modeling<br/>
                Requirements Analysis<br/>
                Storyboard
                </p>
                <header>Tools & Environment</header>
                <p>
               	Mac OS<br/>
                Xcode4<br/>
                phpMyadmin<br/>
                </p>
                <header>Source & Archivements</header> 
                <p>
                Documentation
                </p>         
            </article>  

 	</section>  

</div> 
          
    <!---aside, index for projects--->      
		<!--<?php include 'sidebar.php';?>-->
	<!---End of div container->
      
</html> 