<div id="projects_detail">
  <section>
    <article class="article_left">
      <div class="project_description">
        <h2>
          MICHELIN® solutions: Java/J2EE development and cross-platform integration
        </h2>
        <img src="assets/images/projects_images/Michelin.png" width="160px" align="right" style="margin-top:10px" />
        <p>
          In the context of the "Connected vehicles" project (MICHELIN® solutions & Atos Worldline), the mission aims at implementing
          new modules and administrative components in "Dashboard/Supervising of the platform", so that support team can
          analyze, monitor and diagnose problems existing in the platform with an unique interface. During the mission, I
          was responsible for developing newly added modules (Java/J2EE environment) and provided technical and functional
          assistance for support team. Besides I successfully proposed and realized new IHM solution and integrated web services
          from different platforms.
        </p>
      </div>

      <div class="project_precision">
        <header>Overview</header>
        <img src="assets/images/details_images/michelin_01.jpg" width="120" align="right" style="margin-top:10px" />
        <p>
          The context of the "connected vehicles" is a new business model proposed and implemented by
          <a href="http://fr.worldline.com/fr-fr/home.html">Atos Worldline</a>. In 2013, Worldline assist
          <a href="http://transport.michelin.fr/Services/Michelin-Solutions">MICHELIN® solutions</a>, a Michelin group specializing in fleet mobility, with the implementation of innovative
          connected solutions for B2B customers. The Worldline solution Connected Vehicles gives MICHELIN® solutions the
          ability to propose new value-added solutions to fleets.
        </p>
        <p>
          In the "Fleet administration platform" (A supply chain management platform which preview, oder, monitor and supervise the
          installations and stocks), the support team lack a tool that can automatically unify data from different platforms
          and provides integrated information on a unique interface. For example, the static information of vehicles in the
          platform and alerting of functional inconsistency from different platforms(Machine To Machine, Fleet Management,
          Context Broker..).
        </p>
        <p>
          My mission was to analyze the existing problems and implement innovative components that assist support team to diagnose,
          monitor and visualize the statistic information of the platform
          <br/>
          <br/>
          <b>1.Analysis of support team's requirements and conduct specifications</b>
          <br/>
          <br/>
          <b>2.Conception, development, testing and qualification of new administrative components(Struts, Spring, Hibernate,
            jQuery/jQgrid, Maven):</b>
          <br/>
          <br/>
          <b>3.Analysis, development, diagnostic and integration with external web services from other platforms (SOAP, RESTFul,
            Machine To Machine, Fleet Management, Context Broker..)</b>
          <br/>
          <br/>
          <b>4.Technical and functional assistance to support team</b>
          <br/>
          <br/>
        </p>

        <header>Requirements analysis and specification conduction</header>
        <p>
          During the mission, worked with R&D and support team, I conducted the documentation of the specification for "Dashboard/plat-form
          supervising" module. Concerning about my mission, I was assigned to realize: diagnostic module (vehicle/equipment
          profil, vehicle/equipment activities, vehicle/equipment historical information, vehicle/equipment analysis), installations
          inconsistency alerting between platforms, platform historical aggregated data visualization and installation monitoring
        </p>

        <header>Java/J2EE development and IHM realization</header>
        <p>
          This phase during the mission consists of conception, development, unit testing and qulification process. I developed and
          integrated all the required components(available for production) specified in teh documentation within the current
          system. The technologies involved contains Struts2, Spring core 3, Hibernate4, Junit testing and Log4j. For Front-end,
          I developed and integrated solutions with my advanced web development skills by using jQuery, jQgrid, CSS etc.
          By using the library RGraph, I also successfully generated kinds of JavaScript graph illustrating the platform
          statistic information, platform performance and evolution of different versions of equipments with a "Timeline"
          style.

          <p>
            Since this project is confidential, I'm not in a position to reveal its main functionalities and system details. Instead,
            I will just show some product screenshots at a glance. (using
            <b>FAKE</b> data)
          </p>

          <div class="image" style="clear:both">
            <div class="project_show_image" style="float:left">
              <a href="assets/images/details_images/michelin_02.png" class="highslide" onclick="return hs.expand(this)">
                <img src="assets/images/details_images/michelin_02.png" alt="Highslide JS" title="Click to enlarge" width="190"
                  height="140" />
              </a>
              <div>Vehicle/equipment activity</div>
            </div>


            <div class="project_show_image" style="float:left">
              <a href="assets/images/details_images/michelin_03.png" class="highslide" onclick="return hs.expand(this)">
                <img src="assets/images/details_images/michelin_03.png" alt="Highslide JS" title="Click to enlarge" width="190"
                  height="140" />
              </a>
              <div>Vehicle/equipment profile</div>
            </div>
          </div>


          <div class="image" style="clear:both">
            <div class="project_show_image" style="float:left">
              <a href="assets/images/details_images/michelin_04.png" class="highslide" onclick="return hs.expand(this)">
                <img src="assets/images/details_images/michelin_04.png" alt="Highslide JS" title="Click to enlarge" width="190"
                  height="140" />
              </a>
              <div>Installation monitoring</div>
            </div>


            <div class="project_show_image" style="float:left">
              <a href="assets/images/details_images/michelin_05.png" class="highslide" onclick="return hs.expand(this)">
                <img src="assets/images/details_images/michelin_05.png" alt="Highslide JS" title="Click to enlarge" width="190"
                  height="140" />
              </a>
              <div>Electronic diagnostic messages </div>
            </div>
          </div>

          <div class="image" style="clear:both">
            <div class="project_show_image">
              <a href="assets/images/details_images/michelin_06.png" class="highslide" onclick="return hs.expand(this)">
                <img src="assets/images/details_images/michelin_06.png" alt="Highslide JS" title="Click to enlarge" width="190"
                  height="140" />
              </a>
              <div>Platform statistic information</div>
            </div>
          </div>

          <header>Cross-platform web services integration</header>
          <p>
            During the mission, I was also responsible for developing local modules to communicate with external web services from other
            platforms. (Machine to Machine, Context Broker Platform) I developed components as the "client side" in web service,
            by using JAX-RS and JAX-WS services communicate with other platform. For qualification of my product, JUnit testing
            was conducted during this phase.
          </p>

          <header>Tests, validation and integration for final solution</header>
          <p>
            The current system is quite complicated and composes many team in different cities(Lille Seclin, Paris Bezon and Tours).
            During the mission, I foucused on "Fleet Administration Platform" with 4 sub-projects: (web, DAO, services/api,
            external-ws). At the end of the mission, I finished all jobs assigned to me and I made big progress on the improvement
            of inconsistency detection multi-platform. This 6 moth's intensive in Atos Worldline made me not only progressed
            on my Java/J2EE development skills, but also gave me a comprehensive understanding of Telecommunication, Transportation
            and Supply chain business sector.
          </p>
      </div>
    </article>

    <article class="article_right">
      <header>Type</header>
      <p>Internship project</p>
      <header>Time</header>
      <p>03/2014 - 09/2014</p>
      <header>Methods & Skills</header>
      <p>
        Java/J2EE
        <br/> Struts2/Spring/Hibernate
        <br/> XHTML/CSS3
        <br/> Javascript/JQuery/jQgrid
        <br/> OPENGL
        <br/> SOAP JAX-WS
        <br/> RESTFul JAX-RS
        <br/> JUnit Testing & log4j
        <br/> Graphic data libraries
        <br/> Multi-platform integration
        <br/>
        <br/>
      </p>
      <header>Tools & Environment</header>
      <p>
        Eclipse
        <br/> MySQL
        <br/> Maven building
        <br/> Tomcat Server
        <br/> SVN & JIRA(Agile)
        <br/>
        <br/>
      </p>
      <header>Source & Archivements</header>
      <p>
        Product sample
        <br/>
      </p>
    </article>
  </section>
</div>
