<div id="projects_detail">
    <div>test title</div>
    <div *ngIf="chosenProjectCard">
        <div>this is the static html template</div>
        <b>{{chosenProjectCard.headerDesc}}</b>
        <b>{{chosenProjectCard.descParagraph}}</b>
    </div>
</div>


<div class="sidebar">
  <aside>
    <h3>PROJECTS</h3>
    <ngb-tabset type="pills" [orientation]="'vertical'">
        <ngb-tab *ngFor="let sideBar of sideBarList">
            <ng-template ngbTabTitle><b>{{sideBar.desc}}------{{sideBar.content}}</b></ng-template>
            <ng-template ngbTabContent>
                <!--TODO with content -->
            </ng-template>
        </ngb-tab>
      </ngb-tabset>
  </aside>
</div>
