<div class="resume">
  <section>
    <article>
      <header>
        <h1 onMouseOver="javascript:this.style.cursor='pointer'" onClick="hide_or_show_education()">EDUCATION</h1>
      </header>

      <div id="education">

        <div style="clear:both; margin:10px">
          <p class="align_left">
            <strong>Polytech' Montpellier engineering School</strong>
          </p>
          <p class="align_right">Montpellier, FRANCE | 09/2010-07/2013</p>
        </div>
        <div style="clear:both">
          <p class="align_left">
            <li>Master of Engineer (diplôme d'ingénieur), Computer Science and Management</li>
          </p>
        </div>

        <div style="clear:both; margin:10px">
          <p class="align_left">
            <strong>University of Montpellier2</strong>
          </p>
          <p class="align_right">Montpellier, FRANCE | 09/2013-07/2014</p>
        </div>
        <div style="clear:both">
          <p class="align_left">
            <li>Master 2, Data, knowledge and natural language</li>
          </p>
        </div>


        <div style="clear:both; margin:10px">
          <p class="align_left">
            <strong>Capital University of Economics and Business, Information School</strong>
          </p>
          <p class="align_right">Beijing, CHINA | 09/2006-06/2010</p>
        </div>
        <div style="clear:both">
          <p class="align_left">
            <li>Bachelor of Management, Management of Information System</li>
          </p>
        </div>

        <div style="clear:both; margin:10px"></div>

      </div>
      <!-- -End of education -->

    </article>

    <article>
      <header>
        <h1 onMouseOver="javascript:this.style.cursor='pointer'" onClick="hide_or_show_profession()">PROFESSIONAL EXPERIENCE</h1>
      </header>

      <div id="profession">
        <div style="clear:both">
          <p class="align_left style3">
            <strong>Air France (AKKA IS&Consultant)</strong>
          </p>
          <p class="align_right">Valbonne, Nice Area | 11/2014-present</p>
        </div>
        <div style="clear:both">
          <span class="job-title">Consultant R & D engineer </span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Work as a consultant development engineer in the department of baggage service in Air France.
            </li>
          </ul>
        </div>


        <div style="clear:both">
          <p class="align_left style3">
            <strong>ATOS Worldline</strong>
          </p>
          <p class="align_right">Bezon, île de France | 03/2014-09/2014</p>
        </div>
        <div style="clear:both">
          <span class="job-title">Research & Development engineer intern</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Worked on "Dashboard/platform supervising" module of Fleet Administration Platform for "Connected Vehicles" project
              (Michelin Solution & Atos Worldline)
            </li>
            <li>
              Conducted technical and functional specifications for "Dashboard/platform supervising" module
            </li>
            <li>
              Conception, development, tests and qualifications of administrative components under Java/J2EE environment. (vehicle/equipment
              diagnostic, installation monitoring, platform statistic and monitoring alerts. Agile Method on JIRA, SVN environment)
            </li>
            <li>
              Analysis, development, integration and diagnostic for multi-platform web services (Context broker, Machine To Machine, Fleet
              Management. RESTful & SOAP)
            </li>
            <li>
              Technical and functional assistance for "support team"
            </li>
            <li>
              Technical environment: Java/J2EE, JSP, Struts2, Spring, Hibernate, jQuery, jqGrid, MySQL, Maven, Tomcat, JUnit, Log4j, JAX-RS,
              JAX-WS, OPENGL, RGraph, SVN
            </li>
          </ul>
        </div>



        <div style="clear:both">
          <p class="align_left style3">
            <strong>IOCean Montpellier</strong>
          </p>
          <p class="align_right">Montpellier | 09/2013-02/2014</p>
        </div>
        <div style="clear:both">
          <span class="job-title">Research & Development engineer</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Continues working on different modules for the new version of "IOvision" (Dashboard, commercial, vancancies,
              payment, internalization, etc)</li>
            <li>
              Continues the improvement of AngularJS architecture and newly added JEE SOA layer
            </li>
            <li>Meetings, checkpoints and assistance to IOvision team. Technical and functional support for developers continuing
              on this project</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>IOCean Montpellier</strong>
          </p>
          <p class="align_right">Montpellier | 03/2013-09/2013</p>
        </div>
        <div style="clear:both">
          <span class="job-title">Research & Development engineering intern</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Fonctional and technique study for certain modules for small business ERP "IOvision"</li>
            <li>
              Architectural modeling and realization for the rich-client prototype (AngularJS, responsive design). Unit tests using Jasmine.
              Assistance, recasting and migration of JEE Web Service (Jersey/JAX-RS) based on the current infrastructure
              "ILoa" by integrating with Front-end realisation.
            </li>
            <li>Meeting, checkpoints and validation with team IOvision for prototype's integration with final solution</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>Advanced Solution Accelerator</strong>
          </p>
          <p class="align_right">Montpellier | 11/2012-02/2013</p>
        </div>
        <div style="clear:both">
          <span class="job-title">PhoneGap Android Developer(Final Year Project)</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Research of different technologies in mobile development and constructed software architecture using PhoneGap
              technology</li>
            <li>Developed Modules and functions of Javascript, Ajax and plugins of PhoneGap and jQueryMobile</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>Sageby Pte Ltd</strong>
          </p>
          <p class="align_right">Singapore | 06/2012-09/2012</p>
        </div>
        <div style="clear:both">
          <span class="job-title">iOS Developer intern</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Conceptualized and built a working prototype for alpha testing of iOS application. Held full responsibility for
              app Object-C (Cocoa Touch) development.</li>
            <li>Deeply involved in product brain storming, story board, implementation and product launching phases</li>
            <li>Designed and implemented application Database and provided back-end web service. (API JSON, PHPMYADMIN)</li>
            <li>Participated in company public affairs in Singapore Management University</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>The Good Deed Movement</strong>
          </p>
          <p class="align_right">Remote work | 10/2011-01/2012</p>
        </div>
        <div style="clear:both">
          <span class="job-title">PHP/Web Developer Freelance</span>
          <br/>
          <br/>
        </div>

        <div style="clear:both">
          <ul>
            <li>Designed and developed "Good Tracking" forum with PHP5.3 and MySQL5.Realized "Good Tracking Service" with Google
              Maps API embedded in forum.</li>
            <li>re-constructed 3 portions of website from previous website using iWeb.(Good Tracking, printable Material, Suggestions)
              Used some HTML5, jQuery and CSS3 features.</li>
            <li>Configured and managed website content and database run on "Go Daddy" server. </li>
            <li>Conducted works with supervisor and technique personnel through internet from France</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>Allons-y Centre de Formation de Francais</strong>
          </p>
          <p class="align_right">Beijing | 03/2010-04/2010</p>
        </div>
        <div style="clear:both">
          <span class="job-title">Information Technology Assistant intern</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Recorded and fixed French teaching videos by using Adobe Premiere</li>
            <li>Analysed and coded on website with HTML, JavaScript in department 'Formation a distance'. Created some web pages
              for students</li>
            <li>Assisted Chinese and French teachers to conduct teaching materials</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>FengTai Stadium (CUEB Innovation project)</strong>
          </p>
          <p class="align_right">Beijing | 11/2008-04/2009</p>
        </div>
        <div style="clear:both">
          <span class="job-title">JSP & Servlet developer</span>
          <br/>
          <br/>
        </div>
        <div style="clear:both">
          <ul>
            <li>Participated in the project planning and system Modeling. (JSP MVC Model2, JDBC+DAO+SQL Server+Tomcat)</li>
            <li>Led core programming and Architecture works for JSP and Servlet and JDBC. Configured and manipulated SQL server
              2005</li>
          </ul>
        </div>
      </div>
      <!-- -End of profession -->
    </article>

    <article>
      <header>
        <h1 onMouseOver="javascript:this.style.cursor='pointer'" onClick="hide_or_show_academic()">ACADEMIC EXPERIENCE & PROJECTS</h1>
      </header>

      <div id="academic">
        <div style="clear:both">
          <p class="align_left style3">
            <strong>Expernova - "Development de la virilite Web"</strong>
          </p>
          <p class="align_right">Montpellier | Summer 2012</p>
        </div>
        <div style="clear:both">
          <ul>
            <li>Researched and learned Zend Framework in PHP. Created PHP pages for AJAX interaction</li>
            <li>Conducted LinkedIn API automatic registration with website</li>
            <li>Conducted Mendeley API (Used OAuth 1.0) integration with website</li>
          </ul>
        </div>
        <div style="clear:both">
          <p class="align_left style3">
            <strong>UM2 Time Management System</strong>
          </p>
          <p class="align_right">Montpellier | Spring 2012</p>
        </div>
        <div style="clear:both">
          <ul>
            <li>Participated in the project planning, system UML Modeling and Software architecture design</li>
            <li>Worked in team, held full responsibility for Java (Swing, objects interaction) realization</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>Euronext "Entreprise Situation in Paris and Bruxelle"Analyse</strong>
          </p>
          <p class="align_right">Montpellier | Winter 2011</p>
        </div>
        <div style="clear:both">
          <ul>
            <li>Conceptualized and designed Database (over Oracle) for storing and analysing data from Euronext
              <li>Created PHP files for automatic data feeding (Integrated with Java version web page analyser)</li>
              <li>Created P-SQL files for controlling inputs from Forms on Oracle</li>
          </ul>
        </div>

        <div style="clear:both">
          <p class="align_left style3">
            <strong>French Airline Analyser</strong>
          </p>
          <p class="align_right">Montpellier | Fall 2011</p>
        </div>
        <div style="clear:both">
          <ul>
            <li>Participated and led in the Algorithm analyse and optimisation</li>
            <li>Provided Core C and HTML Programming works using Code::Blocks under Linux</li>
          </ul>
        </div>
      </div>
      <!-- -End of academic -->
    </article>
  </section>
</div>

<div class="block-CV">
  <a href="assets/images/downloads/CV_GAOChenyang_Francais.pdf">
    <span>
      <img src="assets/images/pdf_icon.png" width="25" height="25" style="margin-bottom:-7px;margin-right:2px">
      <b>CV_Francais</b>
    </span>
  </a>
</div>
<div class="block-CV">
  <a href="assets/images/downloads/CV_GAOChenyang_English.pdf">
    <span>
      <img src="assets/images/pdf_icon.png" width="25" height="25" style="margin-bottom:-7px;margin-right:2px">
      <b>CV_English</b>
    </span>
  </a>
</div>

<aside>
  <div class="skill-label" onMouseOver="javascript:this.style.cursor='pointer'" onClick="hide_or_show_skills()">SKILLS & STRENGTH</div>
  <div id="skills">
    <div>
      <span>Software Methods</span>
      <ul>
        <li>Algorithm & Optimization</li>
        <li>Software Engineering</li>
        <li>UML Modeling</li>
        <li>Relational Database Design</li>
        <li>BI & Web Semantic</li>
      </ul>
    </div>
    <div>
      <span>Software.Tools</span>
      <ul>
        <li>Microsoft Office Suite
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Eclipse/RSA
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>SOAPUI
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Git/SVN
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
      </ul>
    </div>

    <div>
      <span>Web.Mobile.J2EE</span>
      <ul>
        <li>
          <strong>--Programming skills--</strong>
        </li>
        <li>Java
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>JavaScript
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>C
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>PHP
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>Objective-C
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <br/>

        <li>
          <strong>--Web.Mobile--</strong>
        </li>
        <li>HTML/CSS suite
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>AngularJS suite
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>jQuery suite
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>BootStrap</li>
        <li>PhoneGap/jQuery Mobile
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>Android/iOS</li>
        <br/>

        <li>--Java/J2EE--</li>
        <li>JSP/Servlet
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Struts/Spring/JDBC/Hibernate</li>
        <li>JUnit/Log4J/logback/MDC</li>
        <li>Maven</li>
        <li>XML</li>
        <li>Middleware(JMS/Queue)</li>
        <li>SOAP/REST development
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Semantic Web/Jena/SPARQL</li>
      </ul>
    </div>

    <div>
      <span>Database</span>
      <ul>
        <li>Mysql
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Oracle
          <!-- <div class="indicator">&#9632; <span class="empty">&#9632;</span> <span class="empty">&#9632;</span></div> -->
        </li>
        <li>MongoDB
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>PL/SQL
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
      </ul>
    </div>

    <div>
      <span>Platform & Server</span>
      <ul>
        <li>Windows/Linux/Mac
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</div> -->
        </li>
        <li>Apache
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>Tomcat
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
        <li>Websphere
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
      </ul>
    </div>

    <div>
      <span>Language</span>
      <ul>
        <li>Chinese
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</span></div> -->
        </li>
        <li>English
          <!-- <div class="indicator">&#9632; &#9632; &#9632;</span></div> -->
        </li>
        <li>French
          <!-- <div class="indicator">&#9632; &#9632; <span class="empty">&#9632;</span></div> -->
        </li>
      </ul>
    </div>
  </div>
  <!-- -End of skills -->
</aside>

<aside>
  <div class="skill-label" onMouseOver="javascript:this.style.cursor='pointer'" onClick="hide_or_show_courses()">RELEVENT COURSES</div>
  <div id="courses">
    <p>
      OS(Linux), Human engineering and multimedia, Software engineering (Object Conception and methods), UML, Networks, Database,
      Relational application development, statistics, Industrial project ,Business Intelligence(IBM), Data warehousing and
      Data Mining(IBM)
    </p>
  </div>
</aside>


<!--
<a href="images/downloads/CV_ChenyangGao.pdf">
<aside class="block_CV">
	<span><img src="images/pdf_icon.png" width="25" height="25" style="margin-bottom:-7px; margin-right:2px"><b>CV_English(235KB)</b></span>
</aside>
</a>
-->
