<!--dynamic component loading -->
<div>
  <ng-template #dynamicContainer></ng-template>
</div>


<div class="sidebar">
  <aside>
    <h3>PROJECTS</h3>
    <ngb-tabset #tabCompo (tabChange)="onSelectSideBar($event)" type="pills" [orientation]="'vertical'">
      <ngb-tab [id]="sideBar.id" *ngFor="let sideBar of sideBarList">
        <ng-template ngbTabTitle>
          <b>{{sideBar.desc}}------{{sideBar.content}}</b>
        </ng-template>
        <ng-template ngbTabContent>
          <!--TODO-->
          <!--ng template for content -->
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </aside>
</div>

